/* Header Component */
.header {
    background-color: #FFFFFF;
    color: #8C0886;
    padding: 0.8rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-bottom: 2px solid #8C0886;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    flex-shrink: 0;
    min-width: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image-services {
    height: 120px;
    width: auto;
}
.nav {
    display: flex;
    gap: 1.5rem;
    flex-shrink: 0;
}

.nav a {
    color: #8C0886;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
    padding: 0.5rem 0;
    white-space: nowrap;
}

.nav a:hover {
    color: #FFFFFF;
    background-color: #8C0886;
    border-radius: 5px;
    padding: 0.5rem ;
}
@media (max-width: 768px) {
    .header .container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .nav {
       display: none;
    }
    .logo-image-services {
        height: 100px;
    }
    .logo {
        margin-bottom: 0;
        display: block;
    }
}