<section id="quienes-somos" class="about-section">
    <div class="about-background">
        <!-- Contenido central tipo tarjeta -->
        <div class="content-card">
            <h1>¿Quiénes somos?</h1>
            <h2>Asesoría jurídica</h2>
            <ul>
                <li>Estudio integral en donde podrás encontrar un servicio jurídico personalizado tanto de forma presencial como virtual;</li>
                <li>Priorizamos el vínculo con nuestros clientes, la escucha atenta y el asesoramiento a fin de resguardar la calidad humana;</li>
                <li>Acompañamiento continuo en las distintas instancias del proceso judicial.</li>
            </ul>
        </div>
    </div>
</section>